var newComment = $('<%= escape_javascript((render(:partial => @comment))) %>').hide();
$('.comments ol').prepend(newComment);

// Show comment and refresh textarea
newComment.fadeIn('slow');
$('.comments textarea').val('');
