<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>


<div class="comments">
  <h3>Comments</h3>

  <ol>
    <%= render :partial => @post.comments.reverse %>
  </ol>

  <h3>Add a New Comment</h3>

  <%= form_for([@post, Comment.new], remote: true) do |f| %>
    <div class="field">
      <%= f.label :body, 'New Comment' %><br>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit 'Add Comment' %>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
